In [1]:
import tensorflow as ts
import numpy as np
import pandas as pd

2024-09-14 13:40:28.050158: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-09-14 13:40:28.062327: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-09-14 13:40:28.065955: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-09-14 13:40:28.075342: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-09-14 13:40:28.695911: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
df = pd.DataFrame([[1,2,3,4,5,],['a','b','c','d','e']], columns = ['age','name','gender','clas','work'])
df

  age name gender clas work
0   1    2      3    4    5
1   a    b      c    d    e

In [3]:
ndf = pd.read_csv("./data.csv")
ndf

      name  age    rollno  class
0     anuj   22  21uai003  final
1      jan   19  23uai063     sy
2  vaibhaw   21  21uai012  final