In [8]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
import pandas as pd
pd.set_option('display.max_columns',None)
import numpy as np

In [4]:
df = pd.read_csv("./fraud test.csv")

In [5]:
df.shape

(555719, 23)

In [6]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,555719.000000,5.557190e+05,555719.000000,555719.000000,555719.000000,555719.000000,5.557190e+05,5.557190e+05,555719.000000,555719.000000,555719.000000
mean,277859.000000,4.178387e+17,69.392810,48842.628015,38.543253,-90.231325,8.822189e+04,1.380679e+09,38.542798,-90.231380,0.003860
std,160422.401459,1.309837e+18,156.745941,26855.283328,5.061336,13.721780,3.003909e+05,5.201104e+06,5.095829,13.733071,0.062008
min,0.000000,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.371817e+09,19.027422,-166.671575,0.000000
25%,138929.500000,1.800430e+14,9.630000,26292.000000,34.668900,-96.798000,7.410000e+02,1.376029e+09,34.755302,-96.905129,0.000000
50%,277859.000000,3.521420e+15,47.290000,48174.000000,39.371600,-87.476900,2.408000e+03,1.380762e+09,39.376593,-87.445204,0.000000
75%,416788.500000,4.635330e+15,83.010000,72011.000000,41.894800,-80.175200,1.968500e+04,1.385867e+09,41.954163,-80.264637,0.000000
max,555718.000000,4.992350e+18,22768.110000,99921.000000,65.689900,-67.950300,2.906700e+06,1.388534e+09,66.679297,-66.952026,1.000000

In [9]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,21/06/2020 12:14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,19/03/1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,21/06/2020 12:14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",17/01/1990,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,21/06/2020 12:14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",21/10/1970,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,21/06/2020 12:15,3.591920e+15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,25/07/1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,21/06/2020 12:15,3.526830e+15,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,06/07/1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [14]:
df.isnull().value_counts

<bound method DataFrame.value_counts of         Unnamed: 0  trans_date_trans_time  cc_num  merchant  category    amt  \
0            False                  False   False     False     False  False
1            False                  False   False     False     False  False
2            False                  False   False     False     False  False
3            False                  False   False     False     False  False
4            False                  False   False     False     False  False
...            ...                    ...     ...       ...       ...    ...
555714       False                  False   False     False     False  False
555715       False                  False   False     False     False  False
555716       False                  False   False     False     False  False
555717       False                  False   False     False     False  False
555718       False                  False   False     False     False  False

        first   last  gender  street   city  state    zip    lat   long  \
0       False  False   False   False  False  False  False  False  False
1       False  False   False   False  False  False  False  False  False
2       False  False   False   False  False  False  False  False  False
3       False  False   False   False  False  False  False  False  False
4       False  False   False   False  False  False  False  False  False
...       ...    ...     ...     ...    ...    ...    ...    ...    ...
555714  False  False   False   False  False  False  False  False  False
555715  False  False   False   False  False  False  False  False  False
555716  False  False   False   False  False  False  False  False  False
555717  False  False   False   False  False  False  False  False  False
555718  False  False   False   False  False  False  False  False  False

        city_pop    job    dob  trans_num  unix_time  merch_lat  merch_long  \
0          False  False  False      False      False      False       False
1          False  False  False      False      False      False       False
2          False  False  False      False      False      False       False
3          False  False  False      False      False      False       False
4          False  False  False      False      False      False       False
...          ...    ...    ...        ...        ...        ...         ...
555714     False  False  False      False      False      False       False
555715     False  False  False      False      False      False       False
555716     False  False  False      False      False      False       False
555717     False  False  False      False      False      False       False
555718     False  False  False      False      False      False       False

        is_fraud
0          False
1          False
2          False
3          False
4          False
...          ...
555714     False
555715     False
555716     False
555717     False
555718     False

[555719 rows x 23 columns]>

# EDA

In [16]:
import matplotlib.pyplot as plt